<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 6</title>
    <link rel="stylesheet" href="/static/css/lab6.css" />
    <script src="/static/js/lab6.js" defer></script>
</head>
<body>
    <h1>Lab 6</h1>
    <main>
        <section id="suggestions">
            <!-- your js will populate this container -->
            <div class="suggestion">
                <img src="https://picsum.photos/30/30?id=807">
                <div>
                    <p>Richard</p>
                    <p>suggested for you</p>
                </div>
                <div>
                    <button>follow</button>
                </div>
            </div>
        </section>
    </main>
    
</body>
</html>